<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sinu veebipood</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Lisa toode</h1>
<form action="#" th:action="@{/form}" th:object="${item}" method="post">
    <p>Hind: <input type="text" th:field="*{price}" /></p>
    <p>Nimi: <input type="text" th:field="*{name}" /></p>
    <p>Kategooria: <input type="text" th:field="*{category}" /></p>
    <p>Pilt: <input type="text" th:field="*{imageAddress}" /></p>
    <p><input type="submit" value="Submit" /> </p>
</form>

<button text="Reset" onclick="location.href = '/loggedin'"  />Reset</button>

</body>
</html>