<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sinu veebipood</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Lisa toode</h1>
<form action="#" th:action="@{/form}" th:object="${customer}" method="post">
    <p>Hind: <input type="text" th:field="*{id}" /></p>
    <p>Nimi: <input type="text" th:field="*{firstname}" /></p>
    <p>Kirjeldus: <input type="text" th:field="*{lastname}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>